<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" type="text/css" href="gallery.css"/> -->



</head>
<body>


<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 6</div>
  <img src="assets/Gallery/wedding.png" align="center" style="width:358mm; height:130mm">
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 6</div>
  <img src="assets/Gallery/recep.jpg" style="width:358mm; height:130mm">
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 6</div>
  <img src="assets/Gallery/sang.jpg" style="width:100%; height:500px">
</div>
<div class="mySlides fade">
    <div class="numbertext">6 / 6</div>
    <img src="assets/Gallery/hal.jpg" style="width:100%; height:500px">
</div> 
<div class="mySlides fade">
    <div class="numbertext">5 / 6</div>
    <img src="assets/Gallery/dinn.jpg" style="width:100%; height:500px">
</div>
<div class="mySlides fade">
    <div class="numbertext">4 / 6</div>
    <img src="assets/Gallery/birth.jpg" style="width:100%; height:500px">
</div>                 
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span> 
</div>

<br>
<h3 style="font-family:sans-serif; color:blue; text-align: center">WEDDING</h3>
<div class="row">
  <div class="column">
    <img src="assets/Gallery/wed1.jpg" alt="Snow" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/wed2.jpg" alt="Forest" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/wed3.jpg" alt="Mountains" style="width:100%; height:50mm">
  </div>
  <div class="column">
      <img src="assets/Gallery/wed4.jpg" alt="Mountains" style="width:100%; height:50mm">
    </div>
</div>

<h3 style="font-family:sans-serif; color:blue; text-align: center">RECEPTION</h3>
<div class="row">
  <div class="column">
    <img src="assets/Gallery/rec1.jpg" alt="Snow" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/rec2.jpg" alt="Forest" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/rec3.jpg" alt="Mountains" style="width:100%; height:50mm">
  </div>
  <div class="column">
      <img src="assets/Gallery/rec4.jpg" alt="Mountains" style="width:100%; height:50mm">
    </div>
</div>

<h3 style="font-family:sans-serif; color:blue; text-align: center">BIRTHDAYS</h3>
<div class="row">
  <div class="column">
    <img src="assets/Gallery/bir1.jpg" alt="Snow" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/bir2.jpg" alt="Forest" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/bir3.jpg" alt="Mountains" style="width:100%; height:50mm">
  </div>
  <div class="column">
      <img src="assets/Gallery/bir4.jpg" alt="Mountains" style="width:100%; height:50mm">
    </div>
</div>

<h3 style="font-family:sans-serif; color:blue; text-align: center">HALDI</h3>
<div class="row">
  <div class="column">
    <img src="assets/Gallery/hal1.jpg" alt="Snow" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/hal2.jpg" alt="Forest" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/hal3.jpg" alt="Mountains" style="width:100%; height:50mm">
  </div>
  <div class="column">
      <img src="assets/Gallery/hal4.jpg" alt="Mountains" style="width:100%; height:50mm">
    </div>
</div>

<h3 style="font-family:sans-serif; color:blue; text-align: center">SANGEET</h3>
<div class="row" style="padding-bottom: 5pc;">
  <div class="column">
    <img src="assets/Gallery/san1.jpg" alt="Snow" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/san2.jpg" alt="Forest" style="width:100%; height:50mm">
  </div>
  <div class="column">
    <img src="assets/Gallery/san3.jpg" alt="Mountains" style="width:100%; height:50mm">
  </div>
  <div class="column">
      <img src="assets/Gallery/san4.jpg" alt="Mountains" style="width:100%; height:50mm">
    </div>
</div>


</body>
</html> 
