<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<!-- <link rel="stylesheet" type="text/css" href="HomeStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link href="https://fonts.googleapis.com/css?family=Barlow|Dancing+Script|Lobster|Shadows+Into+Light|Supermercado+One&display=swap" rel="stylesheet"></head>
<body>
<div id="imgslide">
	<!-- <div class="menu">
        <label for="slide-dot-1"></label>
        <label for="slide-dot-2"></label>
        <label for="slide-dot-3"></label>
      </div>
      <input id="slide-dot-1" type="radio" name="slides" checked>
      <div class="slide slide-1"></div>
      <input id="slide-dot-2" type="radio" name="slides">
      <div class="slide slide-2"></div>
      <input id="slide-dot-3" type="radio" name="slides">
      <div class="slide slide-3"></div> -->
      <img src="assets/spl.jpg"  class="img-responsive">
     
      
      <div id="text">
      	<h1>Welcome to Nirvana</h1>
      	<!-- <h3>Top Event Planners in Hyderabad</h3> -->
      	<!-- <a href="#"><button class="btn btn-success" (click)="onClick()">Plan your Dream Event</button></a> -->
      </div>
</div>
<hr>

		<div id="welcometext">
		<h2>Welcome to Nirvana</h2>
		<!-- <h3>Best Event Planners in Hyderabad</h3> -->
		
		<p style="font-size:27px;">
		We are here to make your dream come true
When you switch on to the so called parameter of the word “Brand”, Nirvana Event Management Company is the right one which can be juxtaposed with the word.
We have a deep pool of high quality, trusted entertainment resources to complement your unique event theme. Themed performers, well known entertainers, artists from Bollywood and the presence of eminent personalities will have your guests cheering for more!
Local bands, DJs and regional bands will have your guests dancing the night away, while karaoke or games will allow guests to actively participate in the event in an unforgettable way. Whether your guests are dancing, singing, tossing, flipping, guessing, building, sipping or tasting – the entertainment services at <span>Nirvana</span> will create an exciting and engaging experience for your guests to remember for a long time to come.
All you need to do is, dream and let us know who you wish to have in your celebrations, and we shall ensure your dreams come true!
		</p>
		</div>
<hr>
<!-- <div id="services"> -->
<!-- <div id="serviceimg" class="">
<img src="assets/image.jpg">


</div>
<div id="serv">
<h2>What we serve</h2>
<br>
<div id="wp">
<h3>Wedding Planning</h3>
<p>
Your wedding day is a special day, one to never forget & a day where everything has to be special. A beautiful wedding mandap cannot be missed! We help organize a perfect wedding from wedding mandap, floral decor, lighting & catering. etc
</p>
</div>
<div id="bp"><h3>Birthday Parties</h3>
<p>At vivanta events we are passionate about our work. We understand your kids imagination and we create themed parties, balloon decoration, face paintings, tattoos and lot more to ensure your kids have an amazing fun time!</p>
</div>
<div id="ce"><h3>Corporate Events</h3>
<p>Corporate Events with impact, Our passion time consists of creating that one concept that exactly matches the target and that exceeds expectations for a long lasting memory. We undertake Corporate events, AGMs, brand launches.etc</p>
</div>
<div id="se"><h3>Social Events</h3>
<p>Nirvana events organizes events aimed at young people from 16 years old to 60 years old. We Understand the current trend and past traditions, Our events are all about famous artists, professional light shows and big show elements.</p>
</div>
</div> -->
<!-- <div class="row" style="padding-left:5pc;">
    <div class="col-xs-4">
            <div id="wp">
                    <h3>Wedding Planning</h3>
                    <p>
                    Your wedding day is a special day, one to never forget & a day where everything has to be special. A beautiful wedding mandap cannot be missed! We help organize a perfect wedding from wedding mandap, floral decor, lighting & catering. etc
                    </p>
             </div>
    </div>
    <div class="col-xs-4">
        <div id="bp"><h3>Birthday Parties</h3>
                <p>At vivanta events we are passionate about our work. We understand your kids imagination and we create themed parties, balloon decoration, face paintings, tattoos and lot more to ensure your kids have an amazing fun time!</p>
        </div>

    </div>
</div>
<div class="row" style="padding-bottom:5pc;padding-left:5pc;">
        <div class="col-xs-4">
                <div id="ce"><h3>Corporate Events</h3>
                    <p>Corporate Events with impact, Our passion time consists of creating that one concept that exactly matches the target and that exceeds expectations for a long lasting memory. We undertake Corporate events, AGMs, brand launches.etc</p>
                </div>
        </div>
        <div class="col-xs-4">
                <div id="se"><h3>Social Events</h3>
                    <p>Nirvana events organizes events aimed at young people from 16 years old to 60 years old. We Understand the current trend and past traditions, Our events are all about famous artists, professional light shows and big show elements.</p>
                </div>
        </div>
    </div>

</div>
<hr>-->
 <!-- <div id="bookyourevent">
<h2>Book Your Event Now</h2><button class="btn btn-primary">Book Event</button>
</div>
<hr>  -->
</body>
</html>
